**Задание 1**
Дан список вида:
data = [
[13, 25, 23, 34],
[45, 32, 44, 47],
[12, 33, 23, 95],
[13, 53, 34, 35],
]

Напишите функцию, которая возвращает сумму элементов на диагонали. Т. е. 13+32+23+35.

In [7]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35],
]
def d_sum(data):
    summ = 0
    for i in range(len(data)):
        summ += data[i][i]
    return summ
d_sum(data)

103

**Задание 2**
Дан список чисел, часть из которых имеют строковый тип или содержат буквы. Напишите функцию, которая возвращает сумму квадратов элементов, которые могут быть числами.
data = [1, ‘5’, ‘abc’, 20, ‘2’]

In [82]:
data = [1, '5', 'abc', 20, '2']
''' не усвоил try - except '''

' не усвоил try - except '

**Задание 3**
Напишите функцию, которая возвращает название валюты (поле ‘Name’) с максимальным значением курса с помощью сервиса https://www.cbr-xml-daily.ru/daily_json.js

In [80]:
class Rate:
    def __init__(self, format='value'):
        self.format = format
    
    def exchange_rates(self):
        r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return r.json()['Valute']
    
    def make_format(self, currency):
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                return response[currency]['Value']
        
        return 'Err'
    
    def eur(self):
        return self.make_format('EUR')
    
    def usd(self):
        return self.make_format('USD')
    
import requests

sorted(Rate().exchange_rates().items(), key = lambda x: -x[1]['Value'] / x[1]['Nominal'])

[('XDR',
  {'ID': 'R01589',
   'NumCode': '960',
   'CharCode': 'XDR',
   'Nominal': 1,
   'Name': 'СДР (специальные права заимствования)',
   'Value': 89.6151,
   'Previous': 89.6523}),
 ('GBP',
  {'ID': 'R01035',
   'NumCode': '826',
   'CharCode': 'GBP',
   'Nominal': 1,
   'Name': 'Фунт стерлингов Соединенного королевства',
   'Value': 85.0428,
   'Previous': 85.3225}),
 ('EUR',
  {'ID': 'R01239',
   'NumCode': '978',
   'CharCode': 'EUR',
   'Nominal': 1,
   'Name': 'Евро',
   'Value': 72.9389,
   'Previous': 72.9995}),
 ('USD',
  {'ID': 'R01235',
   'NumCode': '840',
   'CharCode': 'USD',
   'Nominal': 1,
   'Name': 'Доллар США',
   'Value': 64.2803,
   'Previous': 64.3167}),
 ('CHF',
  {'ID': 'R01775',
   'NumCode': '756',
   'CharCode': 'CHF',
   'Nominal': 1,
   'Name': 'Швейцарский франк',
   'Value': 64.261,
   'Previous': 64.2974}),
 ('CAD',
  {'ID': 'R01350',
   'NumCode': '124',
   'CharCode': 'CAD',
   'Nominal': 1,
   'Name': 'Канадский доллар',
   'Value': 48.1897,
   'Previous': 48.2496}),
 ('SGD',
  {'ID': 'R01625',
   'NumCode': '702',
   'CharCode': 'SGD',
   'Nominal': 1,
   'Name': 'Сингапурский доллар',
   'Value': 47.5622,
   'Previous': 47.6173}),
 ('AUD',
  {'ID': 'R01010',
   'NumCode': '036',
   'CharCode': 'AUD',
   'Nominal': 1,
   'Name': 'Австралийский доллар',
   'Value': 45.5619,
   'Previous': 45.6456}),
 ('AZN',
  {'ID': 'R01020A',
   'NumCode': '944',
   'CharCode': 'AZN',
   'Nominal': 1,
   'Name': 'Азербайджанский манат',
   'Value': 37.8899,
   'Previous': 37.9114}),
 ('BGN',
  {'ID': 'R01100',
   'NumCode': '975',
   'CharCode': 'BGN',
   'Nominal': 1,
   'Name': 'Болгарский лев',
   'Value': 37.2812,
   'Previous': 37.3413}),
 ('BYN',
  {'ID': 'R01090B',
   'NumCode': '933',
   'CharCode': 'BYN',
   'Nominal': 1,
   'Name': 'Белорусский рубль',
   'Value': 30.5413,
   'Previous': 30.5557}),
 ('TMT',
  {'ID': 'R01710A',
   'NumCode': '934',
   'CharCode': 'TMT',
   'Nominal': 1,
   'Name': 'Новый туркменский манат',
   'Value': 18.3921,
   'Previous': 18.4025}),
 ('PLN',
  {'ID': 'R01565',
   'NumCode': '985',
   'CharCode': 'PLN',
   'Nominal': 1,
   'Name': 'Польский злотый',
   'Value': 17.0162,
   'Previous': 17.0335}),
 ('BRL',
  {'ID': 'R01115',
   'NumCode': '986',
   'CharCode': 'BRL',
   'Nominal': 1,
   'Name': 'Бразильский реал',
   'Value': 16.9641,
   'Previous': 16.9603}),
 ('RON',
  {'ID': 'R01585F',
   'NumCode': '946',
   'CharCode': 'RON',
   'Nominal': 1,
   'Name': 'Румынский лей',
   'Value': 15.3198,
   'Previous': 15.3537}),
 ('TRY',
  {'ID': 'R01700J',
   'NumCode': '949',
   'CharCode': 'TRY',
   'Nominal': 1,
   'Name': 'Турецкая лира',
   'Value': 11.7416,
   'Previous': 11.7604}),
 ('DKK',
  {'ID': 'R01215',
   'NumCode': '208',
   'CharCode': 'DKK',
   'Nominal': 10,
   'Name': 'Датских крон',
   'Value': 97.7216,
   'Previous': 97.8737}),
 ('CNY',
  {'ID': 'R01375',
   'NumCode': '156',
   'CharCode': 'CNY',
   'Nominal': 10,
   'Name': 'Китайских юаней',
   'Value': 95.9422,
   'Previous': 95.7792}),
 ('HKD',
  {'ID': 'R01200',
   'NumCode': '344',
   'CharCode': 'HKD',
   'Nominal': 10,
   'Name': 'Гонконгских долларов',
   'Value': 81.8857,
   'Previous': 81.9311}),
 ('NOK',
  {'ID': 'R01535',
   'NumCode': '578',
   'CharCode': 'NOK',
   'Nominal': 10,
   'Name': 'Норвежских крон',
   'Value': 75.3049,
   'Previous': 75.3132}),
 ('SEK',
  {'ID': 'R01770',
   'NumCode': '752',
   'CharCode': 'SEK',
   'Nominal': 10,
   'Name': 'Шведских крон',
   'Value': 69.8062,
   'Previous': 69.7374}),
 ('TJS',
  {'ID': 'R01670',
   'NumCode': '972',
   'CharCode': 'TJS',
   'Nominal': 10,
   'Name': 'Таджикских сомони',
   'Value': 68.0964,
   'Previous': 68.1501}),
 ('ZAR',
  {'ID': 'R01810',
   'NumCode': '710',
   'CharCode': 'ZAR',
   'Nominal': 10,
   'Name': 'Южноафриканских рэндов',
   'Value': 44.3765,
   'Previous': 44.6086}),
 ('MDL',
  {'ID': 'R01500',
   'NumCode': '498',
   'CharCode': 'MDL',
   'Nominal': 10,
   'Name': 'Молдавских леев',
   'Value': 37.2424,
   'Previous': 37.2634}),
 ('CZK',
  {'ID': 'R01760',
   'NumCode': '203',
   'CharCode': 'CZK',
   'Nominal': 10,
   'Name': 'Чешских крон',
   'Value': 28.4476,
   'Previous': 28.5332}),
 ('UAH',
  {'ID': 'R01720',
   'NumCode': '980',
   'CharCode': 'UAH',
   'Nominal': 10,
   'Name': 'Украинских гривен',
   'Value': 23.6522,
   'Previous': 23.6787}),
 ('INR',
  {'ID': 'R01270',
   'NumCode': '356',
   'CharCode': 'INR',
   'Nominal': 100,
   'Name': 'Индийских рупий',
   'Value': 93.3696,
   'Previous': 93.5992}),
 ('KGS',
  {'ID': 'R01370',
   'NumCode': '417',
   'CharCode': 'KGS',
   'Nominal': 100,
   'Name': 'Киргизских сомов',
   'Value': 91.9437,
   'Previous': 91.9408}),
 ('JPY',
  {'ID': 'R01820',
   'NumCode': '392',
   'CharCode': 'JPY',
   'Nominal': 100,
   'Name': 'Японских иен',
   'Value': 57.6169,
   'Previous': 57.805}),
 ('HUF',
  {'ID': 'R01135',
   'NumCode': '348',
   'CharCode': 'HUF',
   'Nominal': 100,
   'Name': 'Венгерских форинтов',
   'Value': 23.3149,
   'Previous': 23.2854}),
 ('KZT',
  {'ID': 'R01335',
   'NumCode': '398',
   'CharCode': 'KZT',
   'Nominal': 100,
   'Name': 'Казахстанских тенге',
   'Value': 16.9744,
   'Previous': 17.0905}),
 ('AMD',
  {'ID': 'R01060',
   'NumCode': '051',
   'CharCode': 'AMD',
   'Nominal': 100,
   'Name': 'Армянских драмов',
   'Value': 13.2237,
   'Previous': 13.1999}),
 ('KRW',
  {'ID': 'R01815',
   'NumCode': '410',
   'CharCode': 'KRW',
   'Nominal': 1000,
   'Name': 'Вон Республики Корея',
   'Value': 56.8877,
   'Previous': 56.8696}),
 ('UZS',
  {'ID': 'R01717',
   'NumCode': '860',
   'CharCode': 'UZS',
   'Nominal': 10000,
   'Name': 'Узбекских сумов',
   'Value': 76.7476,
   'Previous': 76.7913})]

**Задание 4**
Последнее упражнение с занятия

Добавьте в класс еще один формат, который возвращает название валюты (например, ‘Евро’).

Добавьте в класс параметр diff (со значениями True или False), который в случае значения True в методах eur и usd будет возвращать не курс валюты, а изменение по сравнению в прошлым значением.

In [81]:
class Rate:
    def __init__(self, format='value', diff=False):
        self.format = format
        self.diff = diff
    
    def exchange_rates(self):
        r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return r.json()['Valute']
    
    def make_format(self, currency):
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                if self.diff:
                    return response[currency]['Value'] - response[currency]['Previous']
                else:
                    return response[currency]['Value']
        
        return 'Err'
    
    def eur(self):
        return self.make_format('EUR')
    
    def usd(self):
        return self.make_format('USD')
    
Rate(diff=True).usd()

-0.03640000000000043

**Задание 5**
Напишите функцию, возвращающую сумму первых n чисел Фибоначчи

In [28]:
def fibonaci(n):
    if n < 2:
        return n
    return fib(n-2) + fib(n-1)

print(list(map(fib, range(1, 10))))

[1, 1, 2, 3, 5, 8, 13, 21, 34]

**Задание 6**
Напишите функцию, преобразующую произвольный список вида [‘2018-01-01’, ‘yandex’, ‘cpc’, 100] в словарь {‘2018-01-01’: {‘yandex’: {‘cpc’: 100}}}

In [ ]:
def list2dict(a):
    if len(a) > 2:
        return {a[0]: recursion_dict(a[1:])}
    else:
        return {a[0]: a[1]}
list2dict(['2018-01-01', 'yandex', 'cpc', 100] )